.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2%, 1fr));
  grid-auto-rows: minmax(5%, auto);
  grid-gap: 3px;
  margin: 0px;
  width: 100vw;
}

header {
  grid-column: 1/14;
  grid-row: 1/5;
}

body {
  margin: 0px;
}

nav {
  grid-column: 1/2;
  grid-row: 5/9;
  margin-left: 2px;
}

#kubett {
  grid-column: 3/6;
  grid-row: 5/14;
}

#kubtvå {
  grid-column: 7/10;
  grid-row: 5/14;
}

#kubtre {
  grid-column: 11/14;
  grid-row: 5/14;
  margin-right: 2px;
}

#kubfyra {
  grid-column: 3/6;
  grid-row: 15/24;
}

#kubfem {
  grid-column: 7/10;
  grid-row: 15/24;
}

#kubsex {
  grid-column: 11/14;
  grid-row: 15/24;
  margin-right: 2px;
}

section /* nederdel */
  {
  grid-column: 1/14;
  grid-row: 25/30;
  margin-left: 2px;
  margin-right: 2px;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0px;
  }

  header {
    grid-column: 1/17;
    grid-row: 1/2;
    text-decoration: none;

  }

  nav {
    grid-column: 1/17;
    grid-row: 2/3;
  }

  #kubett {
    grid-column: 2/16;
    grid-row: 4/8;
  }

  #kubtvå {
    grid-column: 2/16;
    grid-row: 8/12;
  }

  #kubtre {
    grid-column: 2/16;
    grid-row: 12/16;
  }

  #kubfyra {
    grid-column: 2/16;
    grid-row: 16/20;
  }

  #kubfem {
    grid-column: 2/16;
    grid-row: 20/24;
  }

  #kubsex {
    grid-column: 2/16;
    grid-row: 24/28;
  }

  section /* nederdel */
    {
    grid-column: 2/16;
    grid-row: 28/32;
  }

  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 5% 5%;
    text-decoration: none;
    font-size: 100%;
  }

  #kodrubrik {
    color: white;
    margin: 0;
    background: black;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 310%;
  }

  #inskod {
    color: white;
    margin: 0;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 110%;
  }

  #kodhem {
    color: white;
    margin: 0;
    background: black;
    position: absolute;
    top: 58%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 110%;
  }
}
