body {
  font-family: 'Roboto', sans-serif;
  grid-gap: 0;
  background-color: rgba(245, 245, 245, 0.5);
}

header {
  background-color: #595757;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  text-shadow: -1px 0 rgba(245, 245, 245, 0.5), 0 1px rgba(245, 245, 245, 0.5), 1px 0 rgba(245, 245, 245, 0.5), 0 -1px rgba(245, 245, 245, 0.5);
  box-shadow: 0 3px 5px #000;
  margin-bottom: 2px;
}

topnav. {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 20% 40%;
  text-decoration: none;
  font-size: 120%;
  transition: .5s;
  width: 90%;
}

#svartknapp {
  box-shadow: 0 2px 5px #000;
}

.topnav a:hover {
  background-color: #1d1b1b;
  color: white;
  box-shadow: 0 2px 5px #000;
}

.topnav a.active {
  background-color: black;
  color: white;
}

.kodruta{
  margin-left: 41%;
}

.äpple {
  width: 100%;
  height: auto;
  border-radius: 7px;
}

.wireframe {
  border-radius: 5px;
  border: 3px solid black;
  box-shadow: 0 2px 5px #000;
}

.textruta {
  border-radius: 25px;
  border: 3px solid black;
  padding: 5%;
  width: 80%;
  height: auto;
  margin-left: 4%;
  margin-right: 5%;
  margin-bottom: 2%;

}

#nederdel {
  border: 3px solid black;
  border-radius: 3px;
}

#kodrubrik {
  text-align: center;
}

#myBtn {
  position: fixed;
  display: none;
  bottom: 10px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
  transition: .5s;
}

#myBtn:hover {
  background-color: #555;
}

#kodrubrik {
  color: white;
  margin: 0;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 310%;
}

#inskod {
  color: white;
  margin: 0;
  background: black;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 110%;
}

#kodhem {
  color: white;
  background: black;
  padding: 3px;
  text-decoration: none;
  position: absolute;
  margin: 0;
  top: 58%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 110%;
  transition: .5s;
}

#kodhem:hover {
  background-color: rgb(152, 152, 152);
  color: white;
}
